{% extends 'inner-page.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block innerHeader %}
    <h2>Login Page</h2>
    <ol>
        <li><a href="/">Home</a></li>
        <li>Login</li>
    </ol>
{% endblock %}
{% block main %}
{#    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}#}
    <div id="vue-login">
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

    <script>
    window.csrf_token="{{ csrf_token('authenticate') }}" ;
/*    {% if error %}
        window.error={{ error.messageKey|trans(error.messageData, 'security') }}
    {% endif %}*/
    </script>
    {{ encore_entry_script_tags('login') }}
{% endblock %}